div.deploy-row {
    display:block;
}
div.deployment-status {
    color: #FFFFFF !important;
    display:inline-block;
    font-weight: 600;
    padding:.15em 4px;
    box-shadow:inset 0 -1px 0 rgba(27,31,35,.12);
    border-radius:2px;
}
div.deployment-status[data-status="completed"] {
    background: #28a745;
}