a.tooltipped[aria-label~="approval"], a.tooltipped[aria-label~="approvals"] {
    background: #28a745;
    color: #FFFFFF !important;
    display:inline-block;
    font-weight: 600;
    padding:.15em 4px;
    box-shadow:inset 0 -1px 0 rgba(27,31,35,.12);
    border-radius:2px;
}
a.tooltipped[aria-label~="required"] {
    color: #b08800 !important;
    font-weight: 600;
}
a.tooltipped[aria-label~="requesting"] {
    background: #cb2431;
    color: #FFFFFF !important;
    display:inline-block;
    font-weight: 600;
    padding:.15em 4px;
    box-shadow:inset 0 -1px 0 rgba(27,31,35,.12);
    border-radius:2px;
}
a[data-hovercard-type="user"] {
    color: #0366d6 !important;
    font-weight: 600;
}
a.IssueLabel[title="request changes"] {
    display:none !important;
}
div.githubenhancer-draft-pullrequest {
    background:#F4F4F4;
}
div.githubenhancer-foryou-pullrequest {
    box-shadow:inset 2px 0 0 #b08800;
}
div.githubenhancer-file-list {
    margin-bottom:20px;
}
.githubenhancer-file-list .githubenhancer-file {
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-changes {
    display:inline-block;
    margin-right:6px;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-changes .githubenhancer-column {
    display:inline-block;
    vertical-align:middle;
    width:42px;
    margin-right:3px;
    font-size:12px;
    font-family:Consolas,monospace;
    text-align:center;
    border-radius:2px;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-changes .githubenhancer-added {
    color:#28a745;
    background:#cdffd8;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-changes .githubenhancer-deleted {
    color:#cb2431;
    background:#ffdce0;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-icon {
    display:inline-block;
    vertical-align:middle;
    margin-right:8px;
    line-height:0em;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-icon svg {
    fill:currentColor;
    vertical-align:middle;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-icon.icon-added svg {
    color:#28a745;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-icon.icon-modified svg {
    color:#dbab09;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-icon.icon-removed svg {
    color:#cb2431;
}
.githubenhancer-file-list .githubenhancer-file .githubenhancer-name {
    display:inline-block;
    vertical-align:middle;
    color:#586069;
    font-size:12px;
    font-family:Consolas,monospace;
}