body {
    min-width:300px;
    margin:0px;
    background:#F4F4F4;
    user-select:none;
}
div.header {
    padding:20px;
    background:#FFFFFF;
    border-bottom:1px solid #DDDDDD;
}
.header img {
    display:inline-block;
    vertical-align:middle;
    margin-right:14px;
}
.header h1 {
    display:inline-block;
    vertical-align:middle;
    font-size:2em;
    line-height:1em;
    margin:0px;
}
div.settings {
    padding:20px;
}
.settings div.group {
    margin-top:20px;
}
.settings div.group:first-child {
    margin-top:0px;
}
.settings h2 {
    margin:0px;
    margin-bottom:12px;
}
.settings .row {
    display:table;
    box-sizing:border-box;
    width:100%;
    padding:6px 10px;
    padding-right:6px;
    background:#FFFFFF;
    border:1px solid #DDDDDD;
    font-weight:600;
    border-radius:4px;
    margin-top:10px;
}
.settings label.row {
    cursor:pointer;
}
.settings label.row:first-child {
    margin-top:0px;
}
.settings .row div.label {
    display:table-cell;
    vertical-align:middle;
}
.settings .row div.checkbox {
    display:table-cell;
    vertical-align:middle;
    text-align:right;
}
.settings .row .checkbox input {
    width:14px;
    height:14px;
}
.settings div.subrow {
}
.settings .subrow input {
    width:100%;
    box-sizing:border-box;
    padding:8px 10px;
    background:#FFFFFF;
    border:1px solid #DDDDDD;
    border-left:4px solid #CCCCCC;
    border-top:0 none;
    font-size:1em;
    font-weight:400;
    font-family:inherit;
    border-radius:4px;
}
.settings .subrow input:focus {
    outline:none;
}